.bosluk{ 
    margin-top: 10px ! important;
}



.body{
    line-height: 2em;
}

.img{
    width: 750px;
    height: 100ch;
}

.PhotoGalleryText{ 
    color: #d00cf7!important;
    margin-left: 30%;
    padding-top: 50px;
    text-decoration: underline;
    letter-spacing: 5px;
    word-spacing: 10px !important;
   
}

.PhotoGalleryTextTwo{ 
    color: #615963!important;
    margin-left: 4%;
    padding-bottom: 20px !important;
    text-decoration: underline;
    letter-spacing: 5px;
    word-spacing: 10px !important;
   
}
.foto{ 
    position: absolute !important;
    white-space: nowrap !important;
    overflow: hidden! important;
}

.input {
    margin-left: 100%;
}

.abc label:valid {
    margin-left:50%;
}

.PhotoGalleryTextThree{ 
    color: #171718!important;
    margin-left: 44%;
    
    text-size-adjust: unset ! important;
    font-size: 14px;
   
   
}

.confirm{
    margin-left: 43% !important;
    margin-top: 50px !important;
    
}


.ui.button{
    background-color:#d00cf7 !important;
}